:root {
  --color-1: #162130;
  --color-2: #ffcc00;
  --color-3: #ecd062;
  --color-4: #283950;
  --color-5: #1b2f49;
}
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
